<!-- <div class="btn-group dropup" id="lang">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="lang-sm lang-lbl-full" lang="it"></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><span class="lang-sm lang-lbl-full" lang="ar"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="be"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="bg"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="cs"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="da"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="de"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="el"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="en"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="es"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="et"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fr"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="ga"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hr"></span></li>
  </ul>
</div> -->
<div class="jumbotron text-center" id=first>

    <h1>Hello to our doubler!</h1>
    <p>You can double 5 cryptocurrency that is btc,eth,lsk.</p>
</div>

<div class="container" id=container>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 ">
            <p>Our site is HYPE where you can double your coin. YOU MUST UNDERSTAND ITS A HYPE!!! We will be paid you if we grab money. When we dont have a money to paid our investors we take the money itself </p>
        </div>
        <div class="col-sm-6 col-sm-offset-3 ">
            <p> I read this text and understand all dangers: <input type="checkbox" id="myCheck"></p>
        </div>
        <div class="col-sm-6 col-sm-offset-4 ">
            <p> We have 2 double plan:</p>
        </div>
        <div class="col-sm-2 col-sm-offset-2" id=tabler>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Min deposit:</td>
                        </tr>
                        <tr>
                            <td>Max deposit:</td>
                        </tr>
                        <tr>
                          <td>Double prcocent </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-0" id=tabler>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>First plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0.001 Btc,1 Lsk,0.01 Eth.</td>
                        </tr>
                        <tr>
                            <td>0.05 Btc, 100 Lsk, 5 Eth.</td>
                        </tr>
                        <tr><td>2x</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-0" id=tabler>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Second Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0.05 Btc, 100 Lsk, 5 Eth.</td>
                        </tr>
                        <tr>
                            <td>Unlimited</td>
                        </tr>
                        <tr><td>2.5x</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-2 " id="lol101">
            <p class="normal">
                First Plan
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-1 " id="lol101">
            <p class="normal">
                Second Plan
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2 ">
            <p onclick="notifyMe()" id="greeting">
                Show Btc address
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <p onclick="notifyMe()" id="greeting">
                Show Btc address
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2 ">
            <p onclick="notifyMe()" id="greeting">
                Show Lsk address
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <p onclick="notifyMe()" id="greeting">
                Show Lsk address
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2 ">
            <p onclick="notifyMe('0xE13c61C009EA2C0bFde4CB752741E9EccF98249c')" id="greeting">
                Show Eth address
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <p onclick="notifyMe('0x2F71Caf970FAF48EAE40C1C8fBf9A2100419edCA')" id="greeting">
                Show Eth address
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-5" id="rewievs">
          <h1>Reviews</h1>
</div>
<div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <form action="/login" method="post">
                <label for="comment" id="text">Comment</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
    <small id="passwordHelpInline" class="text-muted">
     Please write your email in comment.
    </small>
  </form>
  </div>
        </div>
        <div class="col-sm-7 col-sm-offset-3">
        <form action="/login" method="post">
          <button type="button" class="btn btn-default">Send</button>
        </div>
        <div class="col-lg-12">
              <div class="col-md-8">
                <p class="muted pull-left">Email:your domen</p>
              </div>
              <div class="col-md-4">
                <p class="muted pull-right">© 2016 Hype.com. All rights reserved</p>
              </div>
            </div>
    </div>
</div>

<script>
$(function(){
    $('.selectpicker').selectpicker();
});
    function notifyMe(y) {
        var x = document.getElementById("myCheck").checked;
        if (x == true) {
            $("#greeting").click(function() {
                $(this).text(function(_, oldText) {
                    return oldText === y ? y : y;
                });
            });
        } else {
            if (!("Notification" in window)) {
                alert("This browser does not support desktop notification");
            } else if (Notification.permission === "granted") {
                var notification = new Notification("Please agree");
            } else if (Notification.permission !== 'denied') {
                Notification.requestPermission(function(permission) {
                    if (permission === "granted") {
                        var notification = new Notification("Please agree");
                    }
                });
            }
        }
    }
    // $("#greeting").click(function() {
    //     $(this).text(function(_, oldText) {
    //         return oldText === '0xxx!' ? '0xxx!' : '0xxx!';
    //     });
    // });
</script>
